#ifndef @GUARD@
#define @GUARD@

@INCLUDES@

#if defined(@ENABLE_DLOPEN@) && @ENABLE_DLOPEN@

#define FUNC(ret, name, args, cargs)		\
  ret @FUNCTION_PREFIX@_##name args;
#define VOID_FUNC FUNC
#include "@FUNCTIONS_H@"
#undef VOID_FUNC
#undef FUNC

#define @WRAPPER@(name) @FUNCTION_PREFIX@_##name

#else

#define @WRAPPER@(name) name

#endif /* @ENABLE_DLOPEN@ */

#endif /* @GUARD@ */
